//fonts
$syncopate	:'Syncopate', sans-serif;
$ubuntu	:'Ubuntu', sans-serif;

$importantText:$syncopate;
$text		:$ubuntu;

//prudentes colors -> 5.Aladin -> http://goo.gl/isDWy0
$barberry	:#D0C91F;		//green/yellow
$monte-carlo	:#85C4B9;		//blue
$bondi-blue	:#008BBA;		//blue
$flamingo	:#DF514C;		//orange/pink
$cinnabar	:#DC403B;		//red
$base		:#F7F7F7;		//white/grey

$interfaceColor:$bondi-blue;
$mainColor	:$monte-carlo;
$eyeCatch	:$barberry;
$textColor	:$flamingo;
$linkColor	:$cinnabar;