.landingPage1 {
	text-align: center;
	margin: 0 auto;
	max-width:1200px;
	overflow: hidden;
	font-family:$text;
	.hero {
		padding:  2rem;
		border-bottom: 1px solid $mainColor;
	}
	.title {
		color: darken($linkColor, 10%);
		font-size: 3.5rem;
		margin-bottom: 1rem;
	}
	.subtitle {
		color: darken($linkColor, 10%);
		font-size: 3rem;
		margin-bottom: 2rem;
	}
	.learn {
		padding: 2rem 0 2rem 0;
		border-bottom: 1px solid $mainColor;
		@include clearfix();
	}
	.teach {
		padding: 2rem 0 2rem 0;
		@include clearfix();
	}
	ul {
		@include clearfix();
		list-style:none;
		display: inline-block;
		width: 100%;
		position: relative;
		left:3.5%;
		li {
			float: left;
			height: 300px;
			width: 250px;
			margin:1% 1% 3% 1%;
		}
	}
	.button {
		@include transition();
		padding: 2rem 0.75rem 0.75rem 0.75rem;
		display: inline-block;
		width: 13rem;
		height: 3.5rem;
		border: 2px solid $eyeCatch;
		background:none;
		font-size:2rem;
		text-decoration: none;
		cursor:pointer;
		position:relative;
		top:20%;
		&:link {
			color: darken($eyeCatch, 20%);
		}
		&:visited {
			color: darken($eyeCatch, 20%);
		}
		&:hover {
			@include transition();
			background: $eyeCatch;
		}
	}
	.icon {
		margin:0.5rem auto 0.5rem auto;
		height:125px;
		width:125px;
		background:$base;
		border:3px solid darken($mainColor, 10%);
		@include rounded(10rem);
		i {
			position:relative;
			top:17.5%;
		}
	}
	.feature {
		font-size:1.5rem;
		color:$mainColor;
		margin-bottom: 0.75rem;

	}
	.benefit {
		margin:0 auto;
		font-size:1rem;
		color:$textColor;
		line-height: 125%;
		width:80%;
	}
}